<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}  {% endblock %}</title>
        <style>
        </style>
    </head>

    <body>

        {% csrf_token %}
        <h2>Web Catalog</h2><hr>

        <b>Search:</b>
        <div class="search">
            <input id="text_search" type="text" name="search" >
            <input id = "button" type="button" value="&#128270">
        </div>

        <b>Address bar:
        </b><hr>
            {% block content %}
            {% endblock %}

    <script   src="https://code.jquery.com/jquery-2.2.4.js"
              integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
              crossorigin="anonymous"></script>
    <script src="static/js/index.js"> </script>
    </body>
</html>