{% extends 'catalog/base.html' %}

{% block title %} {{prod.name_prod}} {% endblock %}

{% block breadcrumbs %}
    {% for category in address %}
        <a href="{{category.get_slug}}">{{category.slug}}/</a>
    {% endfor %}
    {{ prod.name_prod|lower }}/
{% endblock %}


{% block navigation %}
    {% include "catalog/menu.html" with all_category=all_category %}
 {% endblock %}

{% block content %}
    {% if prod %}
        <h1>{{prod.name_prod}}</h1>
        <p>
            <img src="{{prod.image.url}}" alt="My image" width="225" height="220">
            {{ prod.text }}
        </p>

    {% else %}
        Error
    {% endif %}
{% endblock %}